#container-box {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    height: 300px;
    border: 2px solid rgb(29, 14, 14);
    gap: 2px;
}
.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px;
    padding: 10px;
    border: 3px solid rgb(60,61,63);

}
.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(5) {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 2px;
    height: default;
    width: default;

}
.part {
    border: 2px solid black;
}
.head {
    background-color: rgb(128, 80, 17);
    align-content: center;
    

}
img{
    width: 100%;
    height: 70%;
}