#container-box{
    display: flex;
    width: 600px;
    height: 150px;
    border: 2px solid olive;
    background-color: bisque;
    flex-direction: row;
    gap: 3px;
}
.box{
    width: 25%;
    height: auto;
    border: 1px solid brown;
}

.box:nth-child(1),
.box:nth-child(3){
    background-color: burlywood;
}
.box:hover{
    color:rgb(24, 83, 146);

}
img{
    width: 100%;
    height: 70%;
}
